<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <display-name>master</display-name>
 <servlet>
  <display-name>mainServlet</display-name>
  <servlet-name>mainServlet</servlet-name>
  <servlet-class>main.controller.Servlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>mainServlet</servlet-name>
  <url-pattern>/mainServlet</url-pattern>
 </servlet-mapping>
 <listener>
	<listener-class>main.controller.StartController</listener-class>
  </listener>
 <welcome-file-list>
  <welcome-file>index.html</welcome-file>
 </welcome-file-list>
</web-app>
